/* You can add global styles to this file, and also import other style files */
/*    * LAYOUT *   */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

#main-wrapper{
    background-color: #F6C4C7;
}

.text-w{
    color: #F4F3EA;
}

/* 
    HEADER
*/

.custom-navbar{
    background-color: #333D51;
    border-bottom: 3px solid #D3AC2B;
}